MYSQL_ROOT_PASSWORD=change-root-password
MYSQL_PORT=3306
MYSQL_DATABASE=xiyuguopu
MYSQL_USERNAME=xiyuguopu
MYSQL_PASSWORD=change-db-password
XIYU_JWT_SECRET=change-me-at-least-32-characters
APP_CORS_ALLOWED_ORIGINS=http://47.109.93.162
NGINX_PORT=80
UPLOAD_IMAGE_DIR=/opt/xiyuguopu-data/uploads/images
GIT_MIRROR_PREFIXES=
CONTAINER_IMAGE_MIRRORS=dockerproxy.net docker.1panel.live
ALLOW_DIRECT_DOWNLOADS=1
