MYSQL_HOST=host.docker.internal
MYSQL_PORT=3306
MYSQL_DATABASE=xiyuguopu
MYSQL_USERNAME=xiyuguopu
MYSQL_PASSWORD=change-me
XIYU_JWT_SECRET=change-me-at-least-32-characters
APP_CORS_ALLOWED_ORIGINS=http://47.109.93.162,http://47.109.93.162:8088
NGINX_PORT=8088
