.idea/
.vscode/
**/target/
**/node_modules/
.m2repo/
uniapp-test/
*.log
*.tmp
.DS_Store
Thumbs.db
nginx/**/logs/
nginx/**/*.pid
nginx/**/temp/
nginx/**/client_body_temp/
nginx/**/proxy_temp/
nginx/**/fastcgi_temp/
nginx/**/uwsgi_temp/
nginx/**/scgi_temp/
web/images-original/
